name: My first workflow

on: push

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install Cowsay
        run: sudo apt-get install -y cowsay

      - name: Generate ASCII Artwork
        run: cowsay -f dragon "Run for cover, the dragon is coming!" >> dragon.txt  

      - name: Test file exist
        run: grep -i "dragon" dragon.txt

      - name: Read file
        run: cat dragon.txt

      - name: List repo file
        run: ls -ltra