name: My Second workflow

on: push

jobs:
  ascii_job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: List Repo Files
        run: ls -ltra

      - name: Executing Shell Script
        run: |
         chmod +x ascii_script.sh
         ./ascii_script.sh
          